
.dashboard-container .earnings-container{
  width: 80vw;
  display: grid;
  grid-template-columns:  repeat(4,1fr);
  grid-template-rows: auto;
  gap: 1.5vw;

}
  
  
  .earning-card {
    width: 20vw;
  }
  
  .best-seller-list {
    list-style: none;
    padding: 0;
  }
  
  .best-seller-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* gap: 1.5vw; */
  }
  
  .sales {
    font-weight: bold;
  }
  .graph{
    width: 80vw;
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    grid-template-rows: auto;
    margin-top: 5vh;
    gap: 2vw;
  }
  .grahp-container{
    width: 40vw;
  }

  .table{
    width: 80vw;
    display: grid;
    grid-template-columns:  70% 30%;
    grid-template-rows: auto;
    margin-top: 5vh;
    gap: 2vw;
  }
  